.catBox {
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 65px;
    padding-bottom: 100px;
}

.cattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.space {
    position: relative;
    margin: auto;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}

.header-container {
    display:flex;
    background-color: white;
}

.menu-item {
    display: flex;
    margin:20px;
    font-size: 1rem;
    text-decoration: none !important;
}
.menu-item:hover {
    color: #EEA200;
    border-bottom: none;
  }

.menu-list {
    display: flex;
    flex-direction: center;
    
}
.picture {
    position: relative;
    margin: auto;
    height: 200px;
    outline: 5px ridge rgba(170,170,170,0.68);
    outline-offset: 50px;
    transition: outline-width 0.1s linear;
    top: 75px;
}

.picture:hover{
    outline-width: 0px;
}

.title{
    margin-top: 2rem;
    font-size: 1.5rem;
    color:black;
}

.redcarpet {
    background-color: white;
    padding: 25px;
}

.redcarpet2{
background: white;
height: 100px;
border-top: 4px solid rgb(148, 129, 129);
}

.whitecarpet {
    background: white;
    height:30rem;
    display: flex;
    justify-content: row;
}

.whiteCarpet2{
    background: white;
    height: 12rem;

}

.littleBox {
    max-width: 35rem;
    background: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    display: flex;
    padding: 2%;
    flex-direction: column;
}

.whiteMessage {
    position:relative;
    color: white;
    opacity: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.blackMessage{
    color:black;
    font-size:2.5rem;
    text-align: center;
}

.blackMessage2 {
    color:black;
    font-size:1.5rem;
    text-align: center;
}

.blackMessage3 {
    padding-top: 10rem;
    margin:auto;
    color:black;
    font-size:1rem;
    text-align: center;
}

.button {
    position: relative;
    margin:auto;
    color: white;
    background-color: grey;
    font-size: 14px;
    font-style: oblique;
    align-items: center;
    width: 15rem;
    height: 2.5rem;
    border-radius: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 900px) {
    .menu-list{
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        padding-right: 10rem;
    }
    
    .menu-item {
        display: flex;
        margin: 20px;
        font-size: 1rem;
        color: black;
      
    }

    .main-nav {
        width: 80%;
    }

    .title {
        margin-top: 2rem;
        font-size: 1.5rem;
        margin-left: 7rem;
        color:black;
    }
    
}

@media screen and (max-width: 900px){
    .picture {
        width: 150px;
        height: 150px;
    }
} 